{% extends 'base.html' %}

{% block title %}Bring a Treat!{% endblock %}

{% block content %}

    <h2>What will you bring?</h2>

    <form action='/treats' method='POST'>
        Food Item: <input type="text" name="treat"><br>
        Food Type: <select name="type">
                        <option value="appetizer">Appetizer</option>
                        <option value="dessert">Dessert</option>
                        <option value="drink">Drink</option>
                    </select><br>
        <input type="submit">
    </form>

{% endblock %}